* {
  margin: 0%;
  padding: 0%;
}

.trendingApp,
h1 {
  margin: 1rem;
  color: black;
}

.trendingMovies,
.trendingTvs {
  display: flex;
  gap: 15px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.trendingMovies .movieCard,
.trendingTvs .movieCard {
  scroll-snap-align: center;
}
