.backdrop {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 35vmax;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  filter: grayscale(60%);
}

.desc {
  display: flex;
  position: absolute;

  width: 90vw;
  top: 6.5rem;
  left: 4.5vmax;
  height: 30vmax;
}

.desc img {
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}
.titleDesc {
  font-size: 1.5vmax;

  color: white;
  text-shadow: 2px 2px black;
}
.titleDesc {
  font-size: 1.5vmax;

  color: white;
  text-shadow: 2px 2px black;
}

.titleDesc {
  display: inline-flexbox;
  margin-left: 1vmax;
  text-align: end;
  float: right;
  margin-top: auto;
}

.movieTvDesc .titleCard {
  font-size: 3vmax;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  margin-bottom: 2vmax;
  bottom: 0;
}
