.movieCard {
  background-color: rgb(46, 51, 51);
  color: white;
  text-align: end;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #1c1d1f;
  width: min-content;
  margin-bottom: 1rem;
}
.movieCard img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.movieCard p {
  margin-right: 5px;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
.date-rating span {
  color: gold;
}

.titleCard {
  font-size: 1.2rem;
  font-weight: 500;
  /* background-color: aqua; */
  height: 3vmax;
}
.movieCard button {
  background: none;
  color: red;
  border: none;
}

#heart-button {
  /* background: red; */
  font-size: 2vmax;
}
