.list-fav-movies-tvs {
  margin: 1rem 0;
  display: flex;
  justify-content: end;
}

.details {
  float: right;
  width: 30vmax;
  margin-left: 7rem;
}

.details li {
  display: grid;
  grid-template-columns: 85% 10%;
  gap: 1rem;
  margin-left: 1rem;
}

.list-fav-movies-tvs button {
  background-color: #251749;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fffbeb;
}

.list-fav-movies-tvs button:hover {
  cursor: pointer;
  background-color: #495579;
  border-radius: 5px;
}

.myListDesc .desc {
  width: 55vmax;
  top: 7.5rem;
  left: 6rem;
}
