h2 {
  margin-top: 5vh;
  margin-bottom: 1vh;
}
.searchResults {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(5, 22rem);
  justify-content: center;
  justify-items: center;
  width: min-content;
  margin: auto;
}

.searchSection {
  display: flex;
}

form {
  /* background-color: aquamarine; */
  margin: auto;
  text-align: center;
  width: 90%;
}

form input,
form input:focus {
  height: 2rem;
  width: 90%;
  max-width: 600px;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 51, 51);
  color: aliceblue;
  padding: 2px;
  box-shadow: 4px 4px 6px #1c1d1f;
  margin-bottom: 2rem;
}

::placeholder {
  color: aliceblue;
}

form button {
  border: none;
  background-color: rgb(46, 51, 51);
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  box-shadow: 4px 4px 6px #1c1d1f;
}

@media only screen and (max-width: 768px) {
  .titleDesc {
    font-size: 10px;
  }
  .desc {
    top: 2rem;
    left: 2rem;
  }
  .desc img {
    width: 75%;
    height: 75%;
  }
}
